* {
    transition: all 0.2s ease;
    margin: 0;
    padding: 0;
}

:root {
  --body-color: ;
  --text-color: ;
  --special-color: ;
}

body {
  font-family: tahoma;
  background-color: var(--body-color)
}

main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.loader {
    width: 40px;
    scale: 2;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(40vh - 40px);
    aspect-ratio: 1;
     --c: linear-gradient(var(--text-color) 0 0);
     --m: radial-gradient(farthest-side,var(--text-color) 92%,var(--special-color));
    background: 
      var(--m) center               /12px 12px,
      var(--c) left 50% top    -20px/8px 16px, 
      var(--c) left 50% bottom -20px/8px 16px, 
      var(--c) top  50% left   -20px/16px 8px, 
      var(--c) top  50% right  -20px/16px 8px;
    background-repeat: no-repeat;
    animation: 
      l18-1 1.5s infinite,
      l18-2 1.5s infinite;
  }
  @keyframes l18-1 {
    30%,
    70% {background-position: 
          center,
          left 50% top    calc(50% - 8px),
          left 50% bottom calc(50% - 8px),
          top  50% left   calc(50% - 8px),
          top  50% right  calc(50% - 8px)}
  }
  @keyframes l18-2 {
    0%,40%   {transform: rotate(0)}
    60%,100% {transform: rotate(90deg)}
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideIntoPlace {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .slideIntoPlace {
    animation: slideIntoPlace 0.5s ease;
  }

  .fadeOutSlow {
    animation: fadeOut 0.5s ease-in-out forwards;
  }

  .fadeOutFast {
    animation: fadeOut 0.3s ease;
  }

  .fadeInSlow {
    animation: fadeIn 0.5s ease-in-out forwards
  }

  .fadeInFast {
    animation: fadeIn 0.3s ease;
  }

  .hidden {
    display: none;
  }

  #check-internet-p {
    position: absolute;
    font-weight: bold;
    width: 250px;
    left: calc(50vw - 145px);
    top: calc(50Vh - 50px);
    color: var(--text-color);   
  }
  
  #slogan{
    margin: 25vh auto 0 auto;
    text-align: center;
    font-size: 100px;
    font-family: Dancing Script;
    color: var(--text-color);
  }

  #theme-btn {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--text-color);
    width: 100px;
    height: 50px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.3 ease;
  }

  #theme-btn:hover {
    transform: scale(1.1)
  }